<% provide :title, 'Contacts' %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>
<table>
  <td><%= link_to 'Home', static_pages_home_path =%></td>
  <td></td>
  <td><%= link_to 'Help', static_pages_help_path =%></td>
  <td></td>
  <td><%= link_to 'About', static_pages_about_path =%></td>
</table>