<li>
  <%= gravatar_img_tag user, size: 50 %>
  <%= link_to user.name, user %>
  <% if @user != user && @user.is_god? %>
  | <%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure?"}   %>
  <% end %>
</li>