<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= link_to '< prev', "#{users_path}?page=#{page_number_minus}",
  class: "page-#{page_number_minus}" %>
<%= link_to 'next >', "#{users_path}?page=#{page_number_plus}",
  class: "page-#{page_number_plus}" %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_img_tag user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>