<% provide(:title, 'Profile') %>
<div class='row'>
  <aside class='col-md-4'>
    <section class='user_info'>
      <h1>
        <%= @user.name =%>
        <%= gravatar_img_tag(@user, {size: 200}) =%>
      </h1>
      <div class="email"><%= @user.email if logged_in?%></h1>
    </section>
  </aside>
</div>